# dependencies
node_modules/

# Expo / web artifacts
.expo/
dist/
web-build/

# Android build artifacts
android/.gradle/
android/app/build/
android/build/
.kotlin/

# Native keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
